* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Courier New", sans-serif;
    color: #fff;
    background: rgb(25,138,105);
    background: linear-gradient(344deg, rgba(25,138,105,1) 0%, rgba(0,0,0,1) 88%);
}

.navigation {
    padding: 15px;
    background-color: #000;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__logo--link {
    padding: 10px 15px 20px 30px;
    color: #ffffff;
    text-decoration: none;
}

.navigation__logo--link:hover {
    color: orange;
    text-decoration: none;
}

.navigation__links--element-link {
    padding: 10px 15px 20px 30px;
    color: #ffffff;
    text-decoration: none;
}

.navigation__links--element-link:hover {
    color: orange;
    text-decoration: none;
}

.header__title {
    color: mediumseagreen;
    margin: 40px 60px 20px 60px;
}

main {
    margin-left: 60px;
}

.section__header {
    color: seagreen;
}

.section__title {
    font-size: 24px;
    margin: 20px 30px 40px 0;
    color: darkseagreen;
}

.section__description {
    padding-bottom: 15px;
}

.section__frontend--image {
    max-width: 70vw;
    max-height: 22vh;
    border: 10px solid black;
    border-radius: 17px;
}

.section__article--content {
    margin: 30px 60px 30px 0;
}

.footer__content {
    margin-left: 60px;
    padding: 30px 0;
}

/*html page*/

.section__html--image {
    max-width: 70vw;
    max-height: 22vh;
    border: 10px solid black;
    border-radius: 17px;
}

/*css page*/

.section__css--image {
    max-width: 70vw;
    max-height: 22vh;
    border: 10px solid black;
    border-radius: 17px;
}

/*js page*/

.section__js--image {
    max-width: 70vw;
    max-height: 22vh;
    border: 10px solid black;
    border-radius: 17px;
}