@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');
@import "nav";

:root {
  --color: #000;
  --backgroundBase: rgb(233,137,137);
  --backgroundGradient: linear-gradient(180deg, rgba(233,137,137,1) 15%, rgba(194,215,90,1) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --backgroundBase: rgb(25,138,105);
    --backgroundGradient: linear-gradient(360deg, rgba(25,138,105,1) 0%, rgba(0,0,0,1) 78%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Playfair Display", serif;
  color: var(--color);
  background: var(--backgroundBase);
  background: var(--backgroundGradient);

  @media (min-width: 768px) and (max-width: 1219px) {
      margin: 1vh 4vh;
    }

  @media (min-width: 1220px) {
      margin: 1vh 17vh;
    }

}

.logo-container {
  display: flex;
  justify-content: space-between;
}

.button-open {
  display: block;
  background: none;
  border: none;
  padding: 2px 36px 14px 0;

  @media (min-width: 768px) and (max-width: 1219px) {
      display: none;
    }

  @media (min-width: 1220px) {
      display: none;
    }

}

.header__title {
  color: mediumseagreen;
  margin: 40px 60px 20px 60px;
}

main {
  margin-left: 60px;
}

.section {
  &__header {
    color: seagreen;
  }
  &__title {
    font-size: 24px;
    margin: 20px 30px 40px 0;
    color: darkseagreen;
  }
  &__image {
    max-width: 70vw;
    max-height: 22vh;
    border-radius: 17px;
  }
  &__description {
    padding-bottom: 15px;

    &--header {
      @media (min-width: 768px) and (max-width: 1219px) {
        display: grid;
        grid-template-columns: 3fr 3fr;
      }

      @media (min-width: 1220px) {
        display: grid;
        grid-template-columns: 3fr 3fr;
      }
    }
  }
  &__article--content {
    margin: 30px 60px 30px 0;

    @media (min-width: 768px) and (max-width: 1219px) {
      margin: 5vh 2vh 5vh 0;
    }

    @media (min-width: 1220px) {
      margin: 5vh 15vh 5vh 0;
    }
  }
}

.footer__content {
  margin-left: 60px;
  padding: 30px 0;
}