.nav-container {
  background-color: #E88888;
  @media (min-width: 768px) and (max-width: 1219px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1220px) {
    display: flex;
    justify-content: space-between;
  }
}

.navigation {
  padding: 0 15px;
  background-color: #E88888;
  opacity: 0.8;
  display: none;

  @media (min-width: 768px) and (max-width: 1219px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1220px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.navigation-open {
  display: flex;
}

.navigation__logo {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--link {
    padding: 10px 15px 20px 30px;
    color: #ffffff;
    text-decoration: none;
    :hover {
      color: orange;
      text-decoration: none;
    }
  }
}

.navigation__links {
  display: flex;
  flex-direction: column;
  &--element-link {
    padding: 10px 15px 20px 30px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: orange;
      text-decoration: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1219px) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 1220px) {
    display: flex;
    flex-direction: row;
  }

}